<!-- Sidebar -->
    <ul class="sidebar navbar-nav" th:fragment="sidebar">
      <li id="userMange" class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-user"></i>
          <span>Side menu</span>      
        </a>
        <div class="dropdown-menu" aria-labelledby="usersDropdown">
          <a class="dropdown-item" href="#">menu_01</a>
          <a class="dropdown-item" href="#">menu_02</a>
        </div>
      </li>
  </ul>